


.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  border-bottom: 1px solid white;
  }
  
  .navbar a {
    width:8%;
    
    display: inline-block;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  
  }
  
  
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  } 

  .section h1 {
    font-size: 48px;
    text-align: center;
    margin: 24px 0;
    
  }
h2 {
  font-size: xx-large;
  font-style: italic;
  font-family: "Helvetica Neue", sans-serif;  /* specify a font */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* add a shadow */
  color: white;
  text-decoration: none;  /* remove underline */
}
  
  a h2 {
    text-decoration: none;  /* remove underline */
  }
  .title-container {
    width: 100%;  /* take up the whole width of the screen */
    text-align: center;  /* center the text horizontally */
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;

    padding: 20px;  /* add some padding */
  }
  .rest-container {
    width: 100%;
    height: 400px;  /* take up the whole width of the screen */
    text-align: center;  /* center the text horizontally */
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;

    padding: 20px;  /* add some padding */
  }
  
  .title-container h2 {
    margin: 0;  /* remove the default margin */
  }

  
  .container {

    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex; /* create a flex container */
    flex-direction: row; /* stack the elements horizontally */
    width: 100%;
    height: 100%;
    

  }
  
  .container a img {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;  /* add a transition */
  }
  
  .container a img:hover {
    transform: scale(1.2);  /* scale the image up by 50% */
  }
  
  #start-button, #target {
    width: 100%;
    height: 100%;
    font-size: 64px;
    text-align: center;
    margin: 20px auto;
    display: block;
    padding: 20px;
    border: none;
    color: white;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);  /* add a shadow */
    
    cursor: pointer;
  }
  
  #start-button {
    display: block;
    height:  1000px;
    background-color: hsl(61, 100%, 50%);
  }
  
  #target {
    display: block;
    height:  1000px;
    background-color: #03e9f4;
  }
  #users {
    
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    color: #000;
    margin-top: 50px;
    width: 50%;
    left: 25%;
  }
  
  #users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #users tr:nth-child(even){background-color: #f2f2f2;}
  
  #users tr:hover {background-color: #ddd;}
  
  #users th {
    
    text-align: center;
    background-image: linear-gradient(to right, #141e30, #243b55);
    color: white;
  }